*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    li{
        color: black
    }
}
a{
    text-decoration: none;
}
.header{
    background-color: green;
    padding: 15px;
    &__title{
        display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    }
    &__nav ul{
        display: flex;
    justify-content: space-between;
    padding: 3px;
    }
    &__nav{
        width: 50%;
    }
}
@media(min-width: 480px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.section {
    background-color: darkgreen;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
@media(min-width: 765px) {
    .section__div {
        display: flex;
        justify-content: space-around;


    }
}
.tarjeta{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    &__img{
        width: 80%;
    }
    &__boton{
        background-color: green;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    }
    &__boton:hover{
        border: green 2px solid;
        background-color: white;
    }
}
.redes {
    color: blueviolet;
}

.itf {
    color: blue;
}
.ubicacion__title {
    background-color: green;
    text-align: center;
    padding: 14px;
}
.ubicacion__mapa {
    width: 100vw;
}
.colorfooter {
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.footer {
    align-items: center;



}

@media(min-width: 765px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}